body {
	background-image: url("https://cdn.pixabay.com/photo/2020/01/16/12/05/physalis-4770299_1280.jpg");
	background-size: cover;
	display: flex;
	backdrop-filter: blur(2px);
}

.card {
	background-color: rgba(255, 255, 255, 0.226);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	width: 100%;
	text-align: center;
	font-size: 50px;
}


h1.name {
	font-size: 3vw;
	margin-bottom: 10px;
}

p.address,
p.phone {
	font-size: 50px;
	margin-bottom: 10px;
}

button {
	background-color: #4caf4f00; /* Green */
	border: none;
	color: white;
	padding: 2vw 5vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	margin-bottom: 2vw;
	border-radius: 5px;
	cursor:pointer
	width: 300px;
	height: auto;
}

button:hover {
	background-color:#3e8e4173
}

a {
	color:black
}

a:hover {
	color:#4CAF50
}

img {
	width: 250px;
	height: auto;
	max-width:100%;
	margin-right: 1vw;
}


